.top {
  position: fixed;
  background: #fff;
  width: 100%;
  border-bottom: 1px solid #eee;
  z-index: 1;
  display: flex;
}
.tab {
  padding: 8px 12px;
  display: inline-block;
  border-right: 1px solid #eee;
  user-select: none;
  color: #999;
  font-size: 14px;
  margin: 0 !important;
}

.tab.actived,
.tab.actived > * {
  background-color: #1c6ef3;
  border-color: #1c6ef3;
  color: #fff;
}

.input {
  flex: 1;
  height: 200px;
  border: 1px solid #eee;
  resize: none;
  padding: 4px;
  outline: none;
}

.diff-item {
  flex: 1;
  display: flex;
  width: 100vw;
  flex-direction: column;
}
.diff-item.margin-top {
  margin-top: 44px;
}


.button {
  border-left: 1px solid #eee;
  border-right: none;
}
